@use '@/styles/helpers' as *;

.chart {
  display: flex;
  z-index: 1;
  flex-direction: column;
  position: relative;
  row-gap: rem(28);
  padding-top: rem(155);
   max-width: rem(617);

  @include laptop {
//    max-width: rem(400);
    padding-right: rem(60);
  }

  @include tablet {;
    padding-right: 0;
    row-gap: rem(24);
  }

  @include mobile {
    padding-top: rem(0);
    width: 100%;
    max-width: rem(570);

  }

 &__growth {
   @include fluid-text(16, 9);
   font-weight: 700;

   display: flex;
   flex-direction: column;
   position: absolute;
   z-index: 1;
   row-gap: rem(12);
   padding: rem(15) rem(18);
   height: rem(220);
   width: rem(213);
   background-color: var(--color-light);
   border-radius: rem(8);
   top: 15%;
   left: 80%;
   box-shadow: var(--box-shadow);

   @include laptop {
     top: 15%;
     left: 70%;
   }

   @include tablet {
     max-width: rem(180);
     max-height: rem(200);
   }

   @include mobile {
     top: 0;
     left: 80%;
     max-width: rem(118);
     max-height: rem(122);
     font-size: rem(9);
   }
 }

  &__report {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: rem(15);
    background-color: var(--color-light);
    padding: rem(20);
    border-radius: rem(8);
    box-shadow: var(--box-shadow);

    @include mobile {
      width: 100%;;
    }

  }

  &__stats {
    display: flex;
    justify-content: space-between;
    padding: rem(20) rem(28);
    background-color: var(--color-dark);
    border-radius: rem(8);
    font-size: rem(16);
    font-weight: 600;
    color: var(--color-gray-10);

    @include mobile {
      padding: rem(16) rem(22);
      font-size: rem(12);
    }

    &-data {
      display: flex;
      flex-direction: column;
      row-gap: rem(8);
    }

    &-green {
      color: var(--color-green);
      margin-right: rem(6);
    }

    &-red {
      color: var(--color-red);
      margin-right: rem(6);
    }

    &-note {
      font-weight: 400;
    }

    &-amount{
      color: var(--color-light);
      line-height: 1.3;
      letter-spacing: rem(1);
      font-weight: 700;

    }

  }

}