@use '@/styles/helpers' as *;

.reviews {

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: rem(112);
    --padding-block: #{rem(70)} 0 #{rem(160)} 0;
    padding: var(--padding-block);

    @include mobile {
      row-gap: rem(80);
      --padding-block: #{rem(56)} 0 #{rem(80)} 0;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    width: 100%;

    @include laptop {
      flex-direction: column;
      row-gap: rem(16);
    }

    &-title {
      max-width: 38%;
    }

    &-description {
      max-width: rem(376);
    }

    @include mobile {
      flex-direction: column;
      row-gap: rem(16);
    }
  }

  &__swiper {
    width: auto;
    &-wrapper {
    width: auto;
  }
    &-slide {
      width: auto;
    }

    &-body {
      padding-left: rem(157);
      max-width: rem(1040);
    }

    &-title {
      margin: rem(16) 0 rem(40) 0;

      @include mobile {
        margin: rem(11) 0 rem(8) 0;
      }
    }

    &-stars {
      display: flex;
      column-gap: rem(8);
      color: var(--color-dark);

      @include mobile {
        justify-content: left;
      }
    }
  }

  &__author {
    &-wrapper {
      display: flex;
      column-gap: rem(24);
    }

    &-navigation {
      display: flex;
      gap: 12px; // или сколько нужно между кнопками
      justify-content: flex-end; // выравнивание вправо
      align-items: center; // по вертикали, если нужно

      .swiper-button-prev,
      .swiper-button-next {
        position: static;
        transform: none;
        width: 32px;
        height: 32px;
        @include square(50px);
        border-radius: 50%;
        color: var(--color-light);

        @include hover {
          background-color: var(--color-gray);
        }
      }
      .swiper-button-prev {
        background: url("@/public/icons/arrow-left.svg") no-repeat center var(--color-dark);
      }
      .swiper-button-next {
        background: url("@/public/icons/arrow-right.svg") no-repeat center var(--color-dark);
      }

      .swiper-button-prev::after,
      .swiper-button-next::after {
        content: none; // или display: none;
      }
    }
  }
}
