@use '@/styles/helpers' as *;

html {
  &.is-lock {
    overflow: hidden;
  }
}

body {
  @include fluid-text(18, 14);

  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  line-height: 1.5;
  color: var(--color-gray-50);
  background-color: var(--color-light);
}

main {
  flex-grow: 1;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: var(--color-dark);
  line-height: 1.2;
}



h2, .h2,
h4, .h4,
h5, .h5 {
  font-weight: 600;
}

h1, .h1 {
  @include fluid-text(80, 32);
  font-weight: 700;

  @include mobile {
    line-height: 1.25;
    letter-spacing: -0.03em;
  }
}

h2, .h2 {
  @include fluid-text(56, 24);
  letter-spacing: -0.04em;

  @include mobile {
    line-height: 1.4;
  }
}

h3, .h3 {
  @include fluid-text(40, 18);
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: -0.03em;
}

h4, .h4 {
  @include fluid-text(32, 18);
  line-height: 1.3;
  letter-spacing: -0.03em;
}

h5, .h5 {
  @include fluid-text(20, 16);
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.03em;
}

h6, .h6 {
  @include fluid-text(16, 8);
}




a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

input {
  background-color: transparent;
  border: var(--border);
  font-size: rem(14);
  }


a {
  color: inherit;

  @include hover {
    color: var(--color-accent);
  }

  &[class] {
    text-decoration: none;
  }
}


:focus-visible {
  outline: rem(2) dashed var(--color-light);
  outline-offset: rem(4);
  transition-duration: 0s !important;
}

a,
button {
  &[aria-label] {
    position: relative;

    &::before {
      @include abs-center;
      @include square(rem(44));

      content: '';
    }
  }
}
