@use '@/styles/helpers' as *;
.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.container-1450 {
  display: flex;
  position: relative;
  overflow: hidden;
  max-width: 2000px;
  margin-inline: auto;

}

.background-dark {
  background-color: var(--color-dark);
}

.visually-hidden {
  @include visually-hidden
}

.visible-mobile {
  @include mobile-above {
    @include visually-hidden;
  }

}

.hidden-mobile{
  @include mobile {
     display: none !important;
      }
}

.visually-mobile {
  @include mobile-above {
    display: none !important;
  }
}

.full-vw-line {
  position: relative;

  &::before,
  &::after {


    position: absolute;
    width: calc(
            (100vw - var(--container-width))
            / 2
    );
    height: rem(1);
    background-color: var(--color-dark-15);
  }

  &--top{
    &::before {
       content:'';
      bottom:100%;
    }
  }
l
  &--bottom{
    &::after {
      content:'';
      top:100%;
    }
  }

  &--right{
    &::before,
    &::after {
      left:100%;
    }
  }

  &--left{
    &::before,
    &::after {
      right:100%;
    }
  }

}