@use '@/styles/helpers' as *;

:root {
  --color-light: #FFFFFF;

  --color-dark: #1d1e25 ;
  --color-dark-100: #000000;

  --color-gray: #7E8492;
  --color-border-gray: #EDEDED;

  --color-blue: #2280ff;

  --border: #{rem(1)} solid var(--color-border-gray);


  --font-family-base: 'Inter', sans-serif;
  --font-family-accent: 'Kumbh Sans', sans-serif;

  --container-width: #{rem(1200)};
  --container-padding-x: #{rem(20)};

  --transition-duration: 0.2s;


}